body{
  background-color: #FF6699;
  font-family: sans-serif;
  color: #282828;
  margin: 0px;
}
#counter{
    color:#282828;
    box-shadow: 5px 5px 1px  1px rgba(255,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    background: pink;
    width: 70%;
      opacity: 0.8;
}
#ac_box{
  opacity: 0.8;
  background: pink;
  margin-top: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
  width: 65%;
  box-shadow: 5px 5px 1px  1px rgba(255,0,0,0.3);
//BRB
}
#cookie_img{

  background-image: url("../img/cookie.png");
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto ;
 margin-right: auto ;
 margin: 0 auto;
 width: 250px;
 margin-top: 15px;


}
#boxforcookie{
  height: 260px;
}
#cookie_img:hover{
  height: 245px;
}
#dd2{
  background-color: #282828;
  width: 100%;
  height: 30px;
  opacity: 0.2;
  margin: 0px;
  padding: 0px;
}
#dd{
  background-color: #282828;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  opacity: 0.3;
}
